---
import { Icon } from "astro-icon";
const { title, description, tech, links } = Astro.props;
---

  <div class="card">
    <div class="heading">
      <h3><a href={links[1] != "" ? links[1] : links[0]} target="_blank">{title}</a></h3>
      <div class="icons">
        <a href={links[0]} target="_blank"><Icon name="mdi:github" /></a>
        <a href={links[1]} target="_blank"><Icon name="ic:baseline-open-in-new" /></a>
      </div>
    </div>
    <p>{description}</p>
    <div class="tech-stack">
      {tech.map((skill: string) => <div>{skill}</div>)}
    </div>
  </div>
</div>
<style lang="scss">
  .card {
    padding: 1rem;
    background-color: hsl(var(--secondary));
    box-shadow: 0 0 0.5rem hsla(0, 0%, 0%, 0.25);
    border-radius: 0.5rem;
    margin: 1rem 0;
  }
  div.heading {
    display: flex;
    justify-content: space-between;
  }
  .tech-stack {
    display: grid;
    grid-template-columns: 1fr 1fr;
    div {
      margin: 0.5rem 1rem;
      padding: 0.5rem;
      border-radius: 0.25rem;
      border: 1px solid hsl(var(--border));
    }
  }
  .icons {
    display: flex;
    gap: 0.25rem;
    [astro-icon] {
      height: 1.5rem;

    }
  }
</style>
