---
import { Icon } from "astro-icon/components";
const { title, description, tech, links } = Astro.props;
---

<div class="card">
  <div class="heading">
    <h3>
      <a href={links[1] != "" ? links[1] : links[0]} target="_blank">{title}</a>
    </h3>
    <div class="icons">
      <a href={links[0]} target="_blank" aria-label="link to project github"
        ><Icon name="mdi:github" /></a
      >
      <a href={links[1]} target="_blank" aria-label="link to deployed project"
        ><Icon name="mdi:open-in-new" /></a
      >
    </div>
  </div>
  <p>{description}</p>
  <div class="tech-stack">
    {
      tech.map((skill: string) => (
        <div class={` ${skill !== "socket.io" ? skill : "socketio"}`}>
          {skill}
        </div>
      ))
    }
  </div>
</div>

<style lang="scss">
  div.heading {
    display: flex;
    justify-content: space-between;
  }
  .tech-stack {
    margin-top: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    div {
      color: hsl(var(--light-text));
      text-transform: capitalize;
      font-size: 0.875rem;
      font-weight: 500;
      padding: 0.25rem 0.5rem;
      border-radius: 2rem;
    }
  }
  .icons {
    display: flex;
    gap: 0.25rem;
    [data-icon] {
      font-size: 1.5rem;
    }
  }

  .typescript {
    background-color: hsl(var(--typescript));
  }
  .nodejs {
    background-color: hsl(var(--nodejs));
  }
  .nuxtjs {
    background-color: hsl(var(--nuxtjs));
  }
  .tailwind {
    background-color: hsl(var(--tailwindcss));
  }
  .nextjs {
    background-color: hsl(var(--nextjs));
  }
  .jotai {
    background-color: black;
  }
  .socketio {
    background-color: black;
  }
</style>
