---
import { Icon } from "astro-icon";
import { Image } from "@astrojs/image/components";
const { title, description, tech, image, links } = Astro.props;
---

<div class="card">
  <Image
    alt={image.alt}
    src={import(`../assets/${image.path}.png`)}
    width={400}
    aspectRatio="2:1"
  />
  <div>
    <div class="heading">
      <h3><a href={links[1] != "" ? links[1] : links[0]}>{title}</a></h3>
      <div class="icons">
        <a href={links[0]}><Icon name="mdi:github" /></a>
        <a href={links[1]}><Icon name="ic:baseline-open-in-new" /></a>
      </div>
    </div>
    <p>{description}</p>
    <div class="tech-stack">
      {tech.map((skill: string) => <div>{skill}</div>)}
    </div>
  </div>
</div>
<style lang="scss">
  .card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 1rem;
  }
  div.heading {
    display: flex;
    justify-content: space-between;
  }
  .tech-stack {
    display: flex;
    div {
      margin: 0.5rem 1rem;
      padding: 0.5rem;
      border-radius: 0.25rem;
      border: 1px solid black;
    }
  }
  .icons {
    display: flex;
    gap: 0.25rem;
    [astro-icon] {
      height: 1.5rem;
    }
  }
</style>
