---
import ProjectCard from "./ProjectCard.astro";

const projects = [
  {
    title: "Pokedexle",
    description:
      "A wordle inspired web app where users can select a variety of different pokemon based game. Users can choose to either guess a pokemon based on it’s stats, guess a move based on it’s stats or guess a pokemon based on it’s outline.",
    tech: ["Typescript", "NextJs", "Tailwind", "Jotai"],
    image: {
      path: "pokedexle",
      alt: "screenshot of pokedexle game",
    },
    links: [
      "https://github.com/kadeem-lewis/pokedexle",
      "https://pokedexle.com",
    ],
  },
  {
    title: "Hangmen",
    description:
      "A multiplayer web based game where rooms of up to 4 players compete to see who can get the most correct guesses before game ends. The classic hangman game but with a twist. ",
    tech: ["Typescript", "NuxtJs", "NodeJs", "Socket.io"],
    image: {
      path: "hangmen",
      alt: "screenshot of hangmen game",
    },
    links: [
      "https://github.com/kadeem-lewis/hangmen",
      "https://hangmen-phi.vercel.app/",
    ],
  },
];
---

<div>
  {
    projects.map((project) => (
      <ProjectCard
        title={project.title}
        description={project.description}
        tech={project.tech}
        image={project.image}
        links={project.links}
      />
    ))
  }
</div>
